<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Discovery To Success</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                  Discovery To Success
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Taller</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Reto de 10 días</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contactanos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Bienvenidos</h1>
                        <p class="intro-text">La Dra. Teresa Nazario te invita a que participes en el taller 'Este callejón tiene salida'.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Este callejón tiene salida</h2>
              <p>
                Este taller está basado en el método presentado en el libro <em>Los principios del
                  éxito: como llegar de donde está a donde quiere ir</em> y cuenta con el permiso del autor Jack Canfield.
                Esperamos servir de guía en esta jornada inicial para que cada participante se inicie en el
                “diseño y creación de su vida como la quieres, tanto profesional como personal”.
              </p>
              
              <h4>Objetivo</h4>
              <p>
                Enseñar y demostrar un sistema de éxito que funciona cuando tu lo trabajas y
                haces que funcione.
              </p>
              
              <h4>Beneficios</h4>
              <p>
                La promesa que nos hace Canfield a sus estudiantes, es que si ponemos 100% de
                compromiso a la ejecución de estos principios podremos duplicar nuestros
                ingresos, duplicar el tiempo libre, crear una vida plena y dichosa en tres años o
                menos.
              </p>

              <h4>¿POR QUÉ ESTE TALLER Y AHORA?</h4>
              <p>
                En junio del 2015 mi callejón parecía cerrado, y oscuro. Mis recursos económicos
                limitados, varias libras de sobrepeso, manejando una relación densa y pesada,
                mis hijos en NY entre otras cosas, es decir, el plato lleno de cosas que debía
                manejar pero seguía posponiendo.
              </p>
              <p>
                Comencé a leer el libro de Jack Canfield, <em>Los principios del éxito: como llegar de
                donde está a donde quiere ir</em> y sentí que tenía una linterna de mano que debía
                prender para empezar a buscar una grieta y cavar una salida en mi callejón.
                Entre a la página de Canfield y acepté participar en un reto de 10 días para salir
                de donde estaba hacia un mejor lugar. Cada día recibía un reto atado a ese nuevo
                lugar en el que quería estar. Tanto fue mi entusiasmo diario que antes de los 10
                días ya me había matriculado en su taller para adiestradores para certificarme en
                su método y poder enseñarlo a otros.
              </p>
              <p>
                Partí para Arizona dos días después de mi cumpleaños número 68. Allí compartí
                con 127 personas de 7 países que como yo quieren superar su vida y pasar este
                método a otros. Al día siguiente, se nos unieron 258 personas de 27 países del
                mundo, de PR estaba yo!,  para tomar el taller “Breakthrough to Success” BTS.
                Este taller de 5 días intensos y poderosos son la esencia de su método. Allí tuve
                varias rupturas de mi zona cómoda, en verdad, incómoda pero familiar y de
                costumbre. Les contaré estas historias en el taller. Les incluyo unas fotos de uno
                de esos momentos.
              </p>
              <img class="img-responsive center-block" src="../img/fotoTaller.jpg" alt="foto con Canfield y Moché">
              <figcaption>Foto con Canfield y Moshé</figcaption>
              <br />
              <p>
                He trabajado diseñando adiestramientos de desarrollo gerencial, organizacional,
                personal y profesional. Mantengo mi práctica privada como sicóloga clínica y soy
                bendecida por haber despertado en mi vida a esta nueva consciencia de vida. Sin
                embargo, ahora me inunda la dicha de estar viviendo lo que estoy enseñando. En
                inglés se dice “<em>walk the talk</em>” en español te aseguro que predico con mi acción.
              </p>
              <p>
                Estoy consciente que mi misión es inspirar a otros con mi ejemplo, como diría
                San Pablo, palabras son obras.
              </p>
                <a href="https://www.eventbrite.com/e/este-callejon-tiene-salida-tickets-19133319273" target="_blank"  class="btn btn-default btn-lg">Separa tu espacio ya!</a>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Curso grátis de 10 días</h2>
                    <p style="text-shadow: #000 1px 1px 1px">
                      Este regalo de 10 días de jornada de transformación tiene como propósito
                      estimular tu interés a mirarte con amor y compasión. Indagar dentro de ti,
                      rebuscar y retomar esos talentos que te apasionan y que por alguna razón están
                      guardados. Te invitamos a que te conectes emocionalmente a donde está tu vida
                      hoy, ¿Cómo te sientes? ¿Eres dichoso?  ¿Hay algo que quieres cambiar? ¿Te
                      sientes atrapada como en un callejón sin salida?  En estos 10 días te
                      acompañaremos a crear una salida a tu callejón.
                    </p>
                    <a href="/curso-registro" class="btn btn-default btn-lg">Saber más</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contactanos</h2>
                <p>Si tienes preguntas o sugerencias por favor envianos un email y te responderemos con la mayor brevedad posible.</p>
                <p>
                  <a href="mailto:contact@discoverytosuccess.com">contact@discoverytosuccess.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/movimientoexitopuertorico/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/estecallejontienesalida/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; discoverytosuccess.com 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBFXpedFZBXNmincemoIlWa-XrgDLEEKY&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
