<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Introducción 6 días de reto</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                  Discovery To Success
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                      <a href="#page-top">Introducción</a>
                    </li>
                    <li>
                      <a href="#about">Retos</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <section id="intro" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Introducción al Reto de 6 días</h2>
              
    <p>
        Bienvenidos! Bienvenidas!! a estos días de reto para la transformación! Para que le encuentres una salida a tu callejón. A pesar de que no te he conozco personalmente sé tres cosas de ti. Primero, eres una persona de acción, estás escuchando este audio. Segundo, hay algo que te incomoda o que deseas cambiar y Tercero, quieres hacer un pacto contigo y transformar tu vida. Lo se porque estuve en la misma situación.  Y SI SE PUEDE!!
    </p>

    <p>
        Soy la DRA. Teresa Nazario Delgado, sicóloga clínica, consultora en desarrollo personal y profesional y coach de los principios del éxito. Me sentí atrapada en un callejón sin salida, esperaba resignada a que la vida mejorara “sola”, ¡que ilusa! Por supuesto, las cosas no mejoraron. Me quejaba: “las cosas están malas”, la económica peor, el racionamiento de agua/sequía y de otros eventos fuera de mi control. No me gustaban los resultados, no cambiaba mi conducta, seguía haciendo lo mismo y  esperaba otros resultados. Eso, ¡es locura!  Me di cuenta que era <strong>YO</strong> quien tenía que <strong>transformarme,</strong> DECIDÍ tomar acción,  HACER algo DIFERENTE,  solté la queja, las excusas, Decidí hacerme 100 % responsable y crear día a día una vida mejor. No hablo desde las gradas modelo con mi propio ejemplo.
    </p>

    <p>
        <strong>Mi primer paso</strong> leí el libro <em>Los principios del éxito. Como llegar de donde estás a donde quieres ir</em> de Jack Canfield, autor de la famosa serie <em>Sopa de Pollo para el Alma, (“Chicken Soup for the Soul”).</em> Era mi oportunidad para salir del callejón en el que me metí.. <strong>yo solita.</strong> 
     </p>

     <p>
        <strong>Segundo paso</strong> Completé un certificado como adiestradora de los principios del éxito con el método de Canfield.  Actualmente soy la primera persona en PR con esta certificación.
     </p>

              <p>
                <strong>Tercer paso</strong>, DECIDÍ, transformar mis justificaciones y excusas en <span>ACCIÓN!!!</span> aplicar las lecciones aprendidas y crear RESULTADOS DESEADOS.
              </p>

              <h3>¡HASTA EL ÉXITO!</h3>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contenido del Curso por día</h2>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td></td>
                          <td><a href="/introduccion">Decide qué quieres cambiar</a></td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td><a href="/retodia1">Decide qué quieres cambiar</a></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td><a href="/retodia2">Descubre tu propósito</a></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td><a href="/retodia3">Celebra lo mejor de ti</a></td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td><a href="/retodia4">Crea la vida de tus sueños</a></td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td><a href="/retodia5">Conecta con tu poder personal</a></td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td><a href="/retodia6">Visualiza tus metas</a></td>
                        </tr>
<!--                        <tr>
                          <td>7</td>
                          <td><a href="/retodia7">Transforma tus creencias</a></td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td><a href="/retodia8">Libérate de lo que te limita</a></td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td><a href="/retodia9">Prográmate para el éxito</a></td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td><a href="/retodia10">Transforma el resto de tu vida un día a la vez</a></td>
                        </tr> -->
                      </tbody>
                    </table>
              
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; discoverytosuccess.com 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBFXpedFZBXNmincemoIlWa-XrgDLEEKY&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
